    $('<style type="text/css">\
    		#shippingTimeContainer {\
				font-size: 14px;\
			}\
			#shippingTimeText {\
				color: #000;\
			}\
			#dynamicShippingTime {\
				background-color: #F4B277;\
			}\
			.current {\
				color: #000;\
			}\
			</style>')
        .appendTo('head');

	var timeHTML = '<div id="shippingTimeContainer"><span id="shippingTimeText">If you order in the next <span id="dynamicShippingTime">' +
					'<span class="current" id="cur_hour"></span>' +
					'<span class="current colon">:</span>' +
					'<span class="current" id="cur_min"></span>' +
					'<span class="current colon">:</span>' +
					'<span class="current" id="cur_sec"></span>' +
					'</span> your order will ship today!</span></div>';

	function time() {
		var now = new Date();
		var hour =  now.getHours();
		var min =  now.getMinutes();
		var sec =  now.getSeconds();
		
		if (hour > 12) {
			hour = hour - 12;
		};

		hour = formatTime(hour);
		min = formatTime(min);
		sec = formatTime(sec);

		$('#cur_hour').text(hour);
		$('#cur_min').text(min);
		$('#cur_sec').text(sec);

		t=setTimeout(function(){time()}, 500);
	}
	function formatTime(i) {
		if (i < 10) {
			i = '0' + i;
		}
		return i;
	}

//	$('.FreeShippingHeading').after(timeHTML);
	$('.FreeShippingText').html(timeHTML);
	time();
